.editor
	flex: 1
	padding: 25px
	background: white
	overflow-y: scroll

.editor .layer--info
	display: flex
	flex-direction: row
	border-top: solid thin #DDD
	border-bottom: solid thin #DDD
	padding: 8px 12px

.editor .layer--info:hover
	color: steelblue

.editor .layer--visibility
	margin-right: 12px
	cursor: pointer

.editor .layer.is-hidden
	color: gray

.editor .layer--children
	padding: 0
	padding-left: 40px
	margin-top: -1px
